html{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 22px;
    background-color: rgb(230, 228, 228);
    width: 100vw;
}


/* navigation */
.nav-bar{
    position: fixed;
    display: grid;
    width: 100%;
    grid-template: 1fr / repeat(3, 1fr);
    justify-items: center;
    background-color: darkslategrey;
    top: 0px;
    left: 0px;
    padding: 10px;
    border-bottom: 1px solid black;
    box-shadow: 0 4px 4px 2px rgba(0,0,0,.2);
    z-index: 10;
}

a{
    text-decoration: none;
    color: whitesmoke;
    font-size: larger;
}

/* main */
.main{
    width: 1200px;
    overflow: scroll;
    padding-top: 50px;
    margin: auto;
    text-align: center;
}

/* intro */

.intro{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#intro{
    background-image: url(https://photoresources.wtatennis.com/photo-resources/2019/08/15/dbb59626-9254-4426-915e-57397b6d6635/tennis-origins-e1444901660593.jpg?width=1024&height=512);
    background-size: cover;
    padding-top: 70px;
    height: 600px;

}

.content{
    width: 100%;
    background-color: rgb(230, 228, 228);
    padding-top: 15px;
    padding-bottom: 15px;
    margin: auto;
}

h1{
    margin: auto;
    color: darkslategrey;
}

.banner-img{
    width: auto;
    height: 600px;
    justify-items: center;
    margin: auto;
    display: block;
}

/* summary */

.summary{
    width: 1000px;
    padding-top: 50px;
    margin: auto;
    padding-bottom: 50px;
}

h2{
    margin: auto;
    color: darkslategrey;
}

.photos-summary{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 50px;
}
.photo-container{
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.photo-container img{
    height: 200px;
    width: 200px;
}
.photo-container span{
    padding: 10px;
    color: darkslategrey;
    font-weight: bold;
}

/* schedule */

.schedule{
    padding-bottom: 50px;
    width: 1100px;
}

.schedule-grid{
    width: 1000px;
    height: 180px;
    padding-top: 50px;
    display: grid;
    grid-template: repeat(3, 50px) / repeat(8, 1fr);
    grid-gap: 10px 5px;
    margin: auto;
    justify-self: center;
}

.shedule-heading{
    background-color: darkslategrey;
    color: whitesmoke;
    align-self: center;
    padding: 10px;
}
.hour{
    background-color: whitesmoke;
    color: darkslategrey;
    align-self: center;
    padding: 10px;
}

.open{
    grid-area: 2 / 1 / 3 / 2;
}
.close{
    grid-area: 3 / 1 / span 1 / span 1;
}

.monday{
    grid-area: 1 / 2 / span 1 / span 1;
}
#monday-open{
    grid-area: 2 / 2 / span 1 / span 1;
}
#monday-close{
    grid-area: 3 / 2 / span 1 / span 1;
}

.tuesday{
    grid-area: 1 / 3 / span 1 / span 1;
}
#tuesday-open{
    grid-area: 2 / 3 / span 1 / span 1;
}
#tuesday-close{
    grid-area: 3 / 3 / span 1 / span 1;
}

.wednesday{
    grid-area: 1 / 4 / span 1 / span 1;
}
#wednesday-open{
    grid-area: 2 / 4 / span 1 / span 1;
}
#wednesday-close{
    grid-area: 3 / 4 / span 1 / span 1;
}
.thursday{
    grid-area: 1 / 5 / span 1 / span 1;
}
#thursday-open{
    grid-area: 2 / 5 / span 1 / span 1;
}
#thursday-close{
    grid-area: 3 / 5 / span 1 / span 1;
}
.friday{
    grid-area: 1 / 6 / span 1 / span 1;
}
#friday-open{
    grid-area: 2 / 6 / span 1 / span 1;
}
#friday-close{
    grid-area: 3 / 6 / span 1 / span 1;
}
.saturday{
    grid-area: 1 / 7 / span 1 / span 1;
}
#saturday-open{
    grid-area: 2 / 7 / span 1 / span 1;
}
#saturday-close{
    grid-area: 3 / 7 / span 1 / span 1;
}

.sunday{
    grid-area: 1 / 8 / span 1 / span 1;
}
#closed{
    grid-area: 2 / 8 / span 1 / span 1;
}
h5{
    text-align: end;
    margin-right: 20px;
    color: darkslategrey;
}
/* footer */
footer{
    position: fixed;
    width: 100%;
    height: 50px;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: darkslategrey;
    box-shadow: 0px 4px 4px 8px rgba(0,0,0,.2);
    color: whitesmoke;
    display: grid;
    grid-template: 1fr / repeat(3, 1fr);
    align-items: center;
    justify-items: center;
}