html{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 22px;
    background-color: rgb(230, 228, 228);
    width: 100vw;
}


/* navigation */
.nav-bar{
    position: fixed;
    display: grid;
    width: 100%;
    grid-template: 1fr / repeat(3, 1fr);
    justify-items: center;
    background-color: darkslategrey;
    top: 0px;
    left: 0px;
    padding: 10px;
    border-bottom: 1px solid black;
    box-shadow: 0 4px 4px 2px rgba(0,0,0,.2);
    z-index: 10;
}

a{
    text-decoration: none;
    color: whitesmoke;
    font-size: larger;
}

/* main */
.main{
    width: 1200px;
    overflow: scroll;
    padding-top: 50px;
    margin: auto;
    text-align: center;
}

/* intro */

.intro{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#intro{
    background-image: url(https://photoresources.wtatennis.com/photo-resources/2019/08/15/dbb59626-9254-4426-915e-57397b6d6635/tennis-origins-e1444901660593.jpg?width=1024&height=512);
    background-size: cover;
    padding-top: 70px;
    height: 600px;

}

.content{
    width: 100%;
    background-color: rgb(230, 228, 228);
    padding-top: 15px;
    padding-bottom: 15px;
    margin: auto;
}

h1{
    margin: auto;
    color: darkslategrey;
}

.banner-img{
    width: auto;
    height: 600px;
    justify-items: center;
    margin: auto;
    display: block;
}

/* summary */

.summary{
    width: 1000px;
    padding-top: 50px;
    margin: auto;
    padding-bottom: 50px;
}

h2{
    margin: auto;
    color: darkslategrey;
}

.photos-summary{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 50px;
}
.photo-container{
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.photo-container img{
    height: 200px;
    width: 200px;
}
.photo-container span{
    padding: 10px;
    color: darkslategrey;
    font-weight: bold;
}

/* footer */
footer{
    position: fixed;
    width: 100%;
    height: 50px;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: darkslategrey;
    box-shadow: 0px 4px 4px 8px rgba(0,0,0,.2);
    color: whitesmoke;
    display: grid;
    grid-template: 1fr / repeat(3, 1fr);
    align-items: center;
    justify-items: center;
}